<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBm_MQTrY9U2JmLxOAG0fdzPtfphP7ztSk</string>
	<key>GCM_SENDER_ID</key>
	<string>312368800840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jasperWt</string>
	<key>PROJECT_ID</key>
	<string>jasper-wt</string>
	<key>STORAGE_BUCKET</key>
	<string>jasper-wt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312368800840:ios:9955340a7da029b83aa47d</string>
</dict>
</plist>